# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore IDE settings
.idea

# Ignore bundler config.
/.bundle
/vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Node
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Environment
.env

# Test coverage
/coverage

# ReScript
lib/bs/
.merlin
.bsb.lock
*.bs.js
*.res.js
*.res.mjs

# Shakapacker
/public/packs
/public/packs-test

# React on Rails
/ssr-generated/
